LEADS2B_API_V1_TOKEN=
LEADS2B_API_V2_TOKEN=
LEADS2B_API_V1_BASE_URL=https://app.leads2b.com/api/v1
LEADS2B_API_V2_BASE_URL=https://app.leads2b.com/api/v2
LEADS2B_PUBLIC_WORKER_URL=https://js.app.leads2b.com
